main {
  max-width: 810px;
  height: 600px;
  margin: auto;
  margin-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  button,
  input {
    height: 30px;
    border: none;
    border-radius: 5px;

  }

  input {
    padding: 5px 5px 5px 15px;
    font-size: 1em;

  }

  input:focus-visible {
    outline: 1px solid gray;
    border-radius: 3px;
  }

  button {
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
  }




}

@media screen and (max-width: 1000px) {
  main {
    justify-content: center;
  }
}

