.chatList {
    padding: 0.3em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1em;

    li {

        padding: 1em;
        display: flex;
        flex-direction: column;
        border-radius: 2em;
        width: fit-content;
    }

    .me {
        background-color: #4CAF50;
        margin-left: auto;
    }

    .other {
        background-color: #008CBA;
    }
}