.userPanel {
    background-color: rgb(27, 27, 27);
    border-radius: 3%;
    padding: 1em;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        text-align: center;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 0.3em;
        justify-content: center;
        margin-top: 1em;
        border-top: 1px solid rgba(128, 128, 128, 0.336);

        .offline {
            color: red;
        }

        .online {
            color: green;
        }
    }
}
